.container header {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.todoCreated, .todoDone {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 0.875rem;
}

.todoCreated span, .todoDone span {
  color: var(--gray-200);
  font-size: 0.75rem;
  display: block;
  padding: 2px 8px;
  background-color: var(--gray-400);
  border-radius: 8px;
}

.todoCreated {
  color: var(--blue);
}

.todoDone {
  color: var(--purple);
}

.todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin: 0;
}

.noTodos {
  color: var(--gray-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border-top: 1px solid var(--gray-400);
  width: 100%;
}

.noTodos img {
  height: 56px;
  width: 56px;
  margin: 1rem 0 1rem 0;
}

.noTodos strong {
  display: block;
  margin-bottom: -1rem;
}

.todos {
  list-style: none;
  width: 100%;
  padding-inline-start: 0px;
}

.todos li {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  color: var(--gray-100);
  background-color: var(--gray-500);
  border-radius: 8px;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.4;
  border: 1px solid var(--gray-400);
  max-width: 736px;
  box-sizing: border-box;
  position: relative;
}

.todos li + li {
  margin-top: 0.875rem;
}

.todos svg {
  margin-left: auto;
  cursor: pointer;
  color: var(--gray-300);
}

.todoRadio {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid var(--blue);
  cursor: pointer;
}

.todoRadio.done {
  border: 2px solid var(--purple-dark);

  background-color: var(--purple-dark);
  display: flex;
  align-items: center;
  justify-content: center ;
}

.todoRadio.done svg {
  color: var(--gray-100);
}

.todos li p {
  flex: 1;
  padding-right: 2rem;
  overflow: hidden;
}

.todos .priority {
  position: absolute;
  max-width: 120px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.25rem;
  bottom: 0.35rem;
  left: 3.2rem;
}

.todos .priority div {
  width: calc(0.5rem -2px);
  height: calc(1rem -2px);
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  cursor: pointer;
}

.todos .priority div.active {
  border: 2px solid white;
  height: calc(1rem - 4px);
  width: calc(0.5rem - 2px);
}

.todos li svg:hover {
  color: var(--danger );
}

.isDone {
  color: var(--gray-300);
  text-decoration: line-through;
}
